<p-card header="Rivals">
    <p class="m-0">
        Rivals is Sorare's free to play gamemode that was introduced in Béta in late 2023. It gives players the
        opportunity to compete versus
        friends, strangers or Gerard Pique in a 5 vs 5 matchup.</p>
    <p-divider></p-divider>
    <p><a href="#friendlies">
            <h3>Friendlies</h3>
        </a></p>
    <p>Rivals friendlies are matches you play versus friends or other Sorare players. They count only for bragging
        rights and/or to gain some experience with how it all
        works. Each player picks 5 players from either 2 teams, a captain and a tactic and battle it out amongst them.
        During the match there is the possibility to substitute
        a player that is playing badly or maybe hasn't started. You can only sub in players that are on the bench and
        thus the most effective substutions can be made while watching the game live, as you will see who is coming on.
    </p>
    <p-divider></p-divider>
    <p><a href="#arena">
            <h3>Arena</h3>
        </a>

        The Arena mode is the competitive mode within Rivals. Using <span class="pi pi-ticket" style="color: rgb(192, 29, 130)"></span><i> Arena Tickets</i> you can challenge a random opponent to a versus game. These opponents
        are matched based on the type of cards you select and <i>manager rep</i>.
        <span class="pi pi-exclamation-circle" style="color: rgb(241, 238, 10)"></span> Beware that when using any non-common cards you are opening yourself
        up to be matched against opponents that have up to 5 limited, rare, superrare or even unique cards.

        <p-image src="/assets/images/rivals-entry.PNG" alt="rivals arena entry"></p-image><br /><br />
    </p>
    <p-divider></p-divider>
    <p class="m-0"><a href="#friendlies">
            <h3>Missions</h3>
        </a>

        Missions in Rivals are challenges that you have to complete and yield different rewards. The more easy ones
        often reward 'MP', short for Manager Points which
        are used to level up your manager level. The manager level is basically just an indication of how much you've
        been playing this game, as hitting
        a new level does not unlock any rewards other than badges which are purely cosmetic.
    </p>

    <p-image src="/assets/images/rivals-3-win-streak.PNG" alt="rivals 3 win streak"></p-image>
    <p>Completing missions such as winning 3 arena matches in a row will reward the user with a reward box. These can
        contain different prices, like new Arena tickets
        and in some cases Limited player cards.
    </p>
    <p-divider></p-divider>
    <p><a href="#friendlies">
            <h3>Strategies</h3>
        </a></p>
    <p>Coming soon... </p>
</p-card>